<app-content-table>
  <ng-container table-headers>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Details</th>
  </ng-container>
  <ng-container table-body>
    @for (passenger of data; track passenger.passengerId) {
      <tr>
        <td>{{ passenger.passengerId }}</td>
        <td>{{ passenger.firstname }}</td>
        <td>{{ passenger.lastname}}</td>
        <td>{{ passenger.email }}</td>
        <td>{{ passenger.phone }}</td>
        <td>
          <a class="btn btn-primary text-white m-2 rounded-2" [routerLink]="String(passenger.passengerId)">View details</a>
        </td>
      </tr>
    }
  </ng-container>
</app-content-table>
