<h2 class="card-title text-center mb-4">Utwórz rezerwację</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="reservationNumber" placeholder="Numer rezerwacji"
           formControlName="reservationNumber" [class.is-invalid]="isInvalid('reservationNumber')" required>
    <label for="reservationNumber">Numer rezerwacji</label>
    @if (isInvalid('reservationNumber')) {
      <div class="invalid-feedback">Numer rezerwacji jest wymagany!</div>
    }
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="seatNumber" placeholder="Numer miejsca"
           formControlName="seatNumber" [class.is-invalid]="isInvalid('seatNumber')" required>
    <label for="seatNumber">Numer miejsca</label>
    @if (isInvalid('seatNumber')) {
      <div class="invalid-feedback">Numer miejsca jest wymagany oraz musi być w formacie np. 10A, 5F!</div>
    }
  </div>

  <div class="form-check mb-4">
    <input type="checkbox" class="form-check-input" id="hasDeparted" formControlName="hasDeparted">
    <label class="form-check-label" for="hasDeparted">Czy lot już się odbył?</label>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">Zapisz rezerwację</button>
    <a (click)="goBack(['reservations'])" class="btn btn-outline-secondary">Powrót do listy</a>
  </div>
  @if (errorMessage().length > 0) {
    <div class="alert alert-warning mt-4" role="alert">
      {{ errorMessage() }}
    </div>
  }
</form>
