<app-content-table>
  <ng-container table-headers>
    <th>ID</th>
    <th>Miejsce odlotu</th>
    <th>Miejsce przylotu</th>
    <th>Czas trwania (min)</th>
    <th>Nr. lotu</th>
    <th>Czas odlotu</th>
    <th>Lot w dwie strony</th>
    <th>Edytuj</th>
  </ng-container>
  <ng-container table-body>
    @for (flights of data; track flights.flightId) {
      <tr>
        <td>{{ flights.flightId }}</td>
        <td>{{ flights.departurePlace }}</td>
        <td>{{ flights.arrivalPlace}}</td>
        <td>{{ flights.duration }}</td>
        <td>{{ flights.flightNumber }}</td>
        <td>{{ flights.departureTime }}</td>
        @if (flights.roundTrip){
          <td><i class="bi bi-check2-square"></i></td>
        } @else {
          <td><i class="bi bi-x-square"></i></td>
        }
        <td>
          <a class="btn btn-primary text-white m-2 rounded-2" [routerLink]="String(flights.flightNumber)">View details</a>
        </td>
      </tr>
    }
  </ng-container>
</app-content-table>
