@if (isError()) {
  <app-connection-error/>
} @else if (!isFetching()) {
<app-content-table>
  <ng-container table-headers>
    <th>ID</th>
    <th>Miejsce odlotu</th>
    <th>Miejsce przylotu</th>
    <th>Czas trwania (min)</th>
    <th>Nr. lotu</th>
    <th>Czas odlotu</th>
    <th>Lot w dwie strony</th>
    <th>Akcje</th>
  </ng-container>
  <ng-container table-body>
    @for (flight of data(); track flight.id) {
      <tr>
        <td>{{ flight.id }}</td>
        <td>{{ flight.departurePlace }}</td>
        <td>{{ flight.arrivalPlace}}</td>
        <td>{{ flight.duration }}</td>
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.departureTime | date:"MMM dd, yyyy 'o' hh:mm" }}</td>
        @if (flight.roundTrip){
          <td><i class="bi bi-check2-square"></i></td>
        } @else {
          <td><i class="bi bi-x-square"></i></td>
        }
        <td>
          <a class="btn btn-primary text-white m-2 rounded-2" [routerLink]="'edit/' + String(flight.id)">Edytuj</a>
          <a class="btn btn-danger text-white m-2 rounded-2" (click)="delete(flight.id)">Usuń</a>
        </td>
      </tr>
    }
  </ng-container>
  <ng-container table-footer>
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-outline-success m-2 rounded-2" routerLink="./add">Dodaj nowy lot</a>
    </div>
  </ng-container>
</app-content-table>
} @else {
  <div class="d-flex justify-content-center mt-4">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
}
