<aside>
  <div class="d-flex flex-column p-3 text-bg-dark">
    <h1 href="/" class="mb-md-0 text-center fs-4">
      System rezerwacji lotów
    </h1>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="passengers" class="nav-link text-white" routerLinkActive="active">
          <i class="bi bi-people-fill m-2 fs-6"></i>
          Pasażerowie
        </a>
      </li>
      <li>
        <a routerLink="flights" class="nav-link text-white" routerLinkActive="active">
          <i class="bi bi-airplane-fill m-2 fs-6"></i>
          Loty
        </a>
      </li>
      <li>
        <a routerLink="reservations" class="nav-link text-white" routerLinkActive="active">
          <i class="bi bi-ticket-detailed-fill m-2 fs-6"></i>
          Rezerwacje lotów
        </a>
      </li>
    </ul>
    <hr>
    <p class="text-center">Autor: Wiktor Wiliński</p>
  </div>
</aside>
