@import "bootstrap-icons/font/bootstrap-icons.css";

body{
  background-color: var(--bs-gray-dark);
  color: var(--bs-white);
}

table th, table td {
  text-align: center;
  vertical-align: middle;
}
